/*@import "tailwindcss"; todavia no lo entiendo y me rompe todo*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.league-spartan-<uniquifier> {
    font-family: "League Spartan", serif;
    font-optical-sizing: auto;
    font-weight: <100-900>;
    font-style: normal;
.dm-sans-<uniquifier> {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.header{
  width: 100%;
  /*background-color: rgba(166, 138, 39, 0.271);*/
  background-color: rgba(236, 222, 172, 0.271);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "League Spartan", serif;
  height: 7.4rem;
  justify-content: space-between;
}
.header__aLogo{
  width: 10%;
  /*margin-left: -2px;*/
}
.header__imgLogo{
  height: 7.4rem;
}

.header p{
  font-family: "League Spartan", serif;
  font-size: 2.2rem;
  font-weight: 200;
  width: 30%;
  margin-left: 0.1rem;
  color: #495138;
}

.navbar{
  display: flex;
  flex-direction: row;
  width: 48%;
  align-items: center;
  justify-content: center;
}
.navbar__Ul{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__Ul li{
  text-decoration: none;
  list-style: none;
}
a{
  font-family: "League Spartan", serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #741529;
  text-decoration: none;
  list-style: none;
  margin: 0.65rem;
}
a:hover {
  color: #000000;
}
.navbar__Cart{
  align-items: center;
  justify-content: flex-end;
  margin-right: 0.1rem;
  
}
.navbar_link{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.cartWidget{
  width: 12%;
  margin-right: 15px;
  
}
.cartImg {
    width: 100%;
  }
.navbar__Cart{
  display: flex;
  flex-direction: row;
}
.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  background-color: #f9f6ea;
  min-height: 100vh;/*ver si esto va aca o solo en mainsection*/
}
.mainSection{
  /*min-height: 100vh;*/
  flex-grow: 1;
}

.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer_link{
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
  justify-content: flex-start;
}
.footer p{
  width: 40%;
  opacity: 50%;
}
.footer img{
width: 40%;
}
.mediaContainer{
  width: 60%;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.mediaContainer a{
  margin: 0.5rem;
  width: 30%;
}
.mediaContainer a img{
  width: 35%;
}
.divCounter p{
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-size: 1.6rem;
}
.firstSection div img{
  max-width: 18.8438rem;
  max-height: 18.8438rem;            /* despues ver como ajustar esto*/
  
}

.divCounter .blue{
  color: rgb(37, 37, 158);
  background-color: aqua;
}

.divCounter .red{
  color: #e7e7e7;
  background-color: #ec3de6;
}
.itemlistcontainer{
  background-color: #f9f6ea;
  padding: 1rem;
  border-Radius: 8px;
  text-Align: center;
  font-family: "League Spartan", serif;
  font-weight: 300;
  font-size: 2rem;
  color: #181A14;
  
}
.firstSection h1{
  background-color: #f9f6ea;
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
  margin: 3rem;

}
.firstSection p{
  text-align: center;
  font-family: "League Spartan", sans-serif;
  font-size: 1.8rem;
  
}
.itemlistcontainer{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 0.5rem;
}
.itemArticle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0.5rem;
  
}
.itemArticle img{
  max-width: 18.8438rem;
  max-height: 18.8438rem;              /* despues ver como ajustar esto*/
}
.itemArticle h3{
font-family: "League Spartan", serif;
font-weight: 300;
font-size: 1.9rem;
color: #181A14;
}
.itemlistcontainer article img{
  /*width: 90%;*/
}
.productDetailContainer{
display: flex;
flex-direction: column;
align-items: center;
}
.productDetailBox {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  
  gap: 2rem;
}
.productDetailImage img{
  width: 400px;
}
.productDetailText{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.productDetailTitle {
  font-family: "League Spartan", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem;
}
.productDetailDescription {
  font-family: "League Spartan", sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  text-align: justify;
  color: #181A14;
  margin: 1rem;
}

.productDetailPrice{
  font-family: "League Spartan", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  color: #EFB136;
  margin: 1rem;
}
.productDetailRate{
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  margin: 1rem;
}
.productDetailButton {
  background-color: #EFB136;
  color: #181A14;
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.2s ease;
  align-self: center;
}

.productDetailButton:hover {
  background-color: #d99c28;
}
.purchaseForm{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
}
.purchaseFormTitle{
  font-size: 1.8rem;
  margin: 5rem 0 0 1rem;

}
.formField{
  font-size: 1.2rem;
}
.purchaseForm label{
  font-size: 1.5rem;
}
.purchaseForm h1{
  font-size: 2rem;
}

/* ORIGINAL
:root {
  font-family: "League Spartan", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme:inherit;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} 
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #000000;
  }
  button {
    background-color: #f9f9f9;
  }
}*/
